<header class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <!-- Logo on the Left -->
  <a class="navbar-brand" href="#">Student Resource Hub</a>

  <!-- Toggle Button for Mobile View -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navigation Menu (Right-Aligned) -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <app-navigation-menu></app-navigation-menu> <!-- Reference to the Navigation Menu Component -->
  </div>
</header>
